/* medidum devices*/
@media (min-width: 768px) {   
    .section-content.change-flex {
      flex-direction: row;  
      flex-wrap: wrap;
      /* align-items: stretch; */
      /* align-items: flex-start; */
    }

    #about .text {
        flex: 3;
        justify-content: center;
        align-self: stretch;
    }

    .resume {
        align-self: flex-start;
    }

    #about .picture {
        flex: 1;
        border-radius: 25px;
    }

    .game-card {
        flex: 1;
    }
}

/* large devices */
@media only screen and (min-width: 1100px) {
 .content-wrapper {
    width: 1068px;
    margin: 0 auto;
 }

 #about p {
    font-size: larger;
 }
}